@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Montstserrat", sans-serif;
  scroll-behavior: smooth;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#home{
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#about {
    background-image: url(./assets/bg-last.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#about {
    background-image: url(./assets/bg-last.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/**---------navbar--------**/
#navbar{
    position: sticky;
    top: 0;
    background-color: white;
}
.bold{
    font-size: 25px;
    color: blue;
    z-index: 6;

}
.nav-link{
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    z-index: 5;
    border: 2px solid transparent;
    transition: transform 0.3s ease;
}
.nav-link:hover{
    border-bottom: 2px solid blue;
}
span{
    color: blue;
    font-weight: bold;
}
p{
    font-size: 18px;

}
/*****************services**********/
.inner{
    overflow: hidden;
    cursor: pointer;
}
.card img{
    width: 100%;
    height: 270px;
    object-fit: contain;
}
.card img:hover{
    transform: scale(1.2);
    transition: .5s;
}
/***********form*************/
#contact {
    background-image: url(./assets/bg-last.png);
    background-repeat: no-repeat;
    background-size: cover;
}




form{
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2),
                -2px -2px 5px rgba(0,0,0,.05);
             border-radius: 20px;
}